<ion-card>
  <ion-card-content>
    <ion-row>
      <ion-col col-3>
        <h1>
          Clima
        </h1>
        <p>
          <b style="font-size: 10px;">📍</b>&nbsp;Temuco, Chile
        </p>
      </ion-col>
      <ion-col col-3>
        <b style="font-size: 30px;">🌤</b>
        <p>
          Temperatura
          <br>
          <b>28°C</b>
        </p>
      </ion-col>
      <ion-col col-3>
        <b style="font-size: 30px;">💨</b>
        <p>
          Viento
          <br>
          <b>12km/h</b>
        </p>
      </ion-col>
      <ion-col col-3>
        <b style="font-size: 30px;">💧</b>
        <p>
          Humedad
          <br>
          <b>20%</b>
        </p>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>